* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #0b0b0b;
  color: #fff;
}

/* HEADER */
.header {
  background: #000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo {
  height: 55px;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
}

.breaking {
  background: #b11226;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

/* HERO */
.hero {
  height: 80vh;
  background: linear-gradient(to bottom, rgba(0,0,0,.6), #000),
    url('https://images.unsplash.com/photo-1504711434969-e33886168f5c') center/cover;
  display: flex;
  align-items: center;
  padding: 40px;
}

.hero h1 {
  font-size: 3rem;
}

/* SECTIONS */
.section {
  padding: 60px 40px;
}

.section h2 {
  color: #d4af37;
  margin-bottom: 30px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
  background: #111;
}

/* CATEGORIES */
.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #006b3f;
}

.categories div {
  padding: 20px;
  font-weight: bold;
}

/* TRENDING */
.dark {
  background: #111;
}

.trending li {
  margin-bottom: 10px;
}

/* VIDEOS */
.videos iframe {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

/* NEWSLETTER */
.newsletter {
  background: #b11226;
  text-align: center;
  padding: 50px;
}

.newsletter input {
  padding: 10px;
  width: 250px;
}

.newsletter button {
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border: none;
}

/* FOOTER */
.footer {
  background: #000;
  padding: 30px;
  text-align: center;
}

.socials i {
  margin: 10px;
  font-size: 20px;
}
.tag {
  display: inline-block;
  background: #d4af37;
  color: #000;
  padding: 5px 10px;
  font-size: 12px;
  margin: 10px;
  font-weight: bold;
